<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Louison Family Recipe App">
    <meta name="author" content=" Thiery Louison">
    <title>Louison Family Recipe App</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

<h2>Welcome to the Louison Family Recipe App!</h2>

  </body>
</html>
