{% extends "layout.html" %}
{% from "_form_macro.html" import render_field %}
{% block content %}
<div class="user-registration">
    <div class="page-header">
        <h2>Please Register Your New Account</h2>
    </div>
    <form action="{{ url_for('users.register') }}" method='post'>
        {{ form.crsf_token }}
        <dl>
            {{ render_field(form.email, placeholder="Email Address") }}
            <span class="error">
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                {{ error }}
                {% endfor %}
                {% endif %}
            </span>
            {{ render_field(form.password, placeholder="Password") }}
            <span class="error">
                {% if form.password.errors %}
                {% for error in form.password.errors %}
                {{ error }}
                {% endfor %}
                {% endif %}
            </span>
            {{ render_field(form.confirm, placeholder="Confirm Password")}}
            <span class="error">
                {% if form.confirm.errors %}
                {% for error in form.confirm.errors %}
                {{ error }}
                {% endfor %}
                {% endif %}
            </span>
        </dl>
        <button class="btn btn-sm btn-success" type="submit">Create New Account</button>
    </form>
</div>
{% endblock content %}
