[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
itsdangerous = "*"
"nose2" = "*"
six = "*"
werkzeug = "*"
pylint = "*"
"autopep8" = "*"
Flask = "*"
"Jinja2" = "*"
MarkupSafe = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
